.btn:focus,
.btn:active,
.btn:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

#searchBarContent{
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
}

#searchBarContent.show {
  max-height: 600px;
}

.head-bar {
  background-color: #F2F2F2;
}

.propagation-il-items{
  text-align: center;
}

.link-color{
  color: #4A494D !important;
}
.link-color:hover{
  color: #F2F2F2 !important;
  background-color: black;
}

.padding-remover{
  padding-right: 0px;
  padding-left: 0px;
}

.row > *{
  padding-left: 0px !important;
  padding-right: 0px !important;
}