.img-container {
  height: 100%;
  min-height: calc(100vh - 136px);
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
}

@media (max-width: 767px) {
  .img-container {
    height: 40vh;
  }
}

@media (min-width: 768px) {
  .img-container {
    height: calc(100vh - 120px);
    min-height: 500px;
  }
  
  .change-passw-form-container {
    height: calc(100vh - 120px);
    min-height: 500px;
    overflow-y: auto;
  }
}