.img-container {
  height: 100%;
  min-height: calc(100vh - 136px);
}

.verification-code-container{
    flex-direction: column;
    min-height: 50vh;
}

.text-color{
    color: #676B80;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 18px;
  color: #333;
}

.img-container img {
  object-fit: cover;
  height: 97%;
  width: 100%;
}

.verify-btn {
  width: 25%;
  padding: 12px;
  background-color: #e53935;
  color: white !important;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
}

.verify-btn:hover {
  background-color: #d32f2f;
  color: white !important;
}

@media (max-width: 767px) {
    .img-container {
        height: 40vh;
    }
    .reset-password-container {
        padding: 20px !important;
  }
}

@media (min-width: 768px) {
    .img-container {
        height: calc(100vh - 120px);
        min-height: 500px;
    }
    .reset-password-container {
        height: calc(100vh - 120px);
        min-height: 500px;
        overflow-y: auto;
    }
}