.footer-sticky {
  margin-top: auto;
}

.footer {
background-color: #121212;
  padding: 20px 0;
color: #FFFFFF;
}

.with-fixed-footer {
  padding-bottom: 80px;
}

.custom-link {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.custom-link:hover {
  color: #b0b0b0; /* Hafif grimsi renk */
}