.body-of-confirm-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    flex-grow: 1;
}

.text-center {
    text-align: center;
}

.back-to-btn {
    width: 30%;
    padding: 12px;
    background-color: #e53935;
    color: white !important;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s;
}

.back-to-btn:hover {
  background-color: #d32f2f;
  color: white !important;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: inline-flex;
    width: 90%;
    height: auto;

}

@media (max-width: 767px) {
    .img-container {
        height: 40vh;
    }
    .back-to-btn{
        width: 60%;
    }
}

@media (min-width: 768px) {
    .img-container {
        height: calc(100vh - 120px);
        min-height: 500px;
    }
}